.table-striped>tbody>tr.change-up>td {
    color: white;
    background-color: green;
    transition: all 1s;
  -webkit-transition: all 1s ease-in-out;
}
.table-striped>tbody>tr.change-up-remove>td{
    transition: all 1s;
  -webkit-transition: all 1s ease-in-out;
}
.table-striped>tbody>tr.change-up-add,.table-striped>tbody>tr.change-up-remove  {
  background-color: white;
  background-color: green;
  transition: all 1s;
  -webkit-transition: all 1s ease-in-out;
}
.table-striped>tbody>tr.change-up-add-active>td {
  background-color: green;
}
.table-striped>tbody>tr.change-up-remove {
    background-color: green;
}
.table-striped>tbody>tr.change-up-remove-active {
  background-color: white;

}